/000_t1p74_holaMundo/nbproject/private/
/000_t1p74_holaMundo/build/
/001_t1p84_tiposVariables/nbproject/private/
/ejercicioEntreTema/000_t1p74_holaMundo/build/
/ejercicioEntreTema/000_t1p74_holaMundo/nbproject/private/
/ejercicioEntreTema/001_t1p84_tiposVariables/nbproject/private/
